<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oneness.fdxmerchant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fdx_merchant_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/fdx_merchant_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FdxMerchant"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Order.NewOrderModule.BillingAddressSelectorActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <activity
            android:name=".Activity.Order.NewOrderModule.AddOrderByMerchant"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Order.NewOrderModule.OrderByMerchantList"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Order.DispatchOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SecurityScreens.PrivacyPolicy"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.SecurityScreens.TermsAndConditions"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.ReportManagement.SalesReport"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.ReportManagement.OrderCountReport"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.ReportManagement.RestaurantPayouts"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Profile.DeliveryConfig"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Profile.Availability"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Profile.Settings"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.CategoryManagement.AddCategory"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Profile.Profile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.EntryPoint.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".Activity.ReportManagement.ItemWiseReport"
            android:exported="false" />
        <activity
            android:name=".Activity.ReportManagement.DateWiseTransactionReport"
            android:exported="false" />
        <activity
            android:name=".Activity.ReportManagement.DateWiseOrderReport"
            android:exported="false" />
        <activity
            android:name=".Activity.Profile.UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".Activity.CouponManagement.AddCouponActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Order.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Order.OrderDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.EntryPoint.EmailLogin"
            android:exported="false" />
        <activity
            android:name=".Activity.ItemManagement.AddNewItem"
            android:exported="false" />
        <activity
            android:name=".Activity.ItemManagement.ItemListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Order.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Order.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EntryPoint.Dashboard"
            android:exported="false" />
        <activity
            android:name=".Activity.EntryPoint.OTPVerification"
            android:exported="false" />
        <activity
            android:name=".Activity.EntryPoint.Login"
            android:exported="false" />
        <activity
            android:name=".Activity.EntryPoint.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Utils.PushNotification.FirebaseMessageReceiver"
            android:exported="true"
            android:usesCleartextTraffic="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>